
body {
    background-color: black;
}
.fullname {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: end;
    height: 100px;
}
.container{
    background-color: blue;
    display: grid;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
    
        "header header header"
        "nav blog blog"
        "footer footer footer";
    grid-gap: 10px;
}
.header{
    grid-area: header;
    border: 3px solid;
    text-align: center;
    padding: 15px;}
.nav{
    grid-area: nav;
    border: solid;
}
.blog{
    grid-area: blog;
    text-decoration: none;
    color: black;
    border: solid;
}
.footer{
    grid-area: footer;
    border: solid;
}
